name: CI Check

on:
  pull_request:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip' # caching pip dependencies

      - name: Install dependengcies
        run: |
          make

      - name: Run linter
        run: |
          source .venv/bin/activate
          make lint